<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <!--Default Root Path-->
  <PropertyGroup>
    <SolutionPath>$(MSBuildStartupDirectory)\ModelValidator.sln</SolutionPath>    
    <UnitTestSettingPath>$(MSBuildStartupDirectory)\Local.testsettings</UnitTestSettingPath>
    <AnalysisFileIncludes>$(MSBuildStartupDirectory)\**\*.cs</AnalysisFileIncludes>
    <AnalysisFileExcludes>$(MSBuildStartupDirectory)\test\*Test*\**\*.*</AnalysisFileExcludes>
    <ScenarioSourcePath>$(MSBuildStartupDirectory)\test\UnitTestModelValidator</ScenarioSourcePath>
	<ScenarioTestProjPath>$(MSBuildStartupDirectory)\test\UnitTestModelValidator\UnitTestModelValidator.csproj</ScenarioTestProjPath>
	<ScenarioTestSourcePath>$(MSBuildStartupDirectory)\test\UnitTestModelValidator\bin\Release\UnitTestModelValidator.dll</ScenarioTestSourcePath>
  </PropertyGroup>
  
  <!--Unit Test Dlls-->
  <ItemGroup>
	<UnitTestDll Include="$(MSBuildStartupDirectory)\test\UnitTestModelValidator\bin\Release\UnitTestModelValidator.dll" />	
  </ItemGroup>
  
  <!-- Output Dlls-->
  <ItemGroup>
	<OutputDll Include="$(MSBuildStartupDirectory)\source\ModelValidator\bin\Release\ModelValidator.dll" />
  </ItemGroup>
  
  <!--Enable Setting-->
  <PropertyGroup>
	<EnableBuildProject>True</EnableBuildProject>
	<EnableUnitTest>True</EnableUnitTest>
	<EnableStyleCop>True</EnableStyleCop>
	<EnableFxCop>True</EnableFxCop>
	<EnableSimian>True</EnableSimian>
	<EnableSourceMonitor>True</EnableSourceMonitor>
	<EnableScenarioGenerator>True</EnableScenarioGenerator>
	<EnableScenarioTestReportGenerator>True</EnableScenarioTestReportGenerator>
  </PropertyGroup>
</Project>